.cadastro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

/* Formulário */
form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

label {
  color: var(--cor-texto-claro);
  font-family: var(--fonte-principal);
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-family: var(--fonte-principal);
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--cor-destaque);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: var(--fonte-principal);
  margin-top: 20px;
}

button:disabled {
  background-color: #dbc9a0;
  cursor: not-allowed;
  font-family: var(--fonte-principal);
}

.register-link {
  color: var(--cor-texto-claro);
  margin-top: 10px;
  font-family: var(--fonte-principal);
}

/* container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  background-color: #1c191a;
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo-pontocerto {
  margin-bottom: 40px;
}

.titulo-login {
  color: var(--cor-texto-claro);
  font-family: var(--fonte-principal);
}
