.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 1rem;
  width: 280px;
  background-color: var(--cor-terciaria);
  position: fixed;
  top: 81px;
  left: 0;
  bottom: 0;
  height: 100vh - 81px;
  overflow-y: auto;
}

.sidebar-content {
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;
}

.sidebar-bottom {
  margin-top: auto;
}

/* Estilo dos links/botões */
.nav-link {
  color: white;
  font-family: var(--fonte-principal);
  margin-bottom: 7px;
}

.nav-link.ativo {
  color: var(--cor-terciaria);
  background-color: var(--cor-destaque);
}
