<app-header></app-header>
<app-sidebar></app-sidebar>

<!-- Histórico main -->
<div class="container">
  <h2 class="pagina-titulo">Meu ponto</h2>
  <div class="card">
    <h2 class="historico-titulo">Histórico de Marcações</h2>

    <!-- Mensagem quando não há registros -->
    <p *ngIf="registros.length === 0">Nenhuma marcação encontrada.</p>

    <!-- Tabela com registros -->
    <p-table *ngIf="registros.length > 0" [value]="registros">
      <ng-template pTemplate="header">
        <tr>
          <th>Tipo de Marcação</th>
          <th>Data</th>
          <th>Hora</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-registro>
        <tr>
          <td>{{ formatarTipo(registro.tipo) }}</td>
          <td>{{ registro.dataHora | date : 'dd/MM/yyyy' }}</td>
          <td>{{ registro.dataHora | date : 'HH:mm:ss' }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
