<div class="container">
  <div class="card">
    <h2>Histórico de Marcações</h2>
    <p-table [value]="mocks">
      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>Tipo de Marcação</th>
          <th>Data</th>
          <th>Hora</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-mock>
        <tr>
          <td>{{ mock.nome }}</td>
          <td>{{ mock.tipoMarcacao }}</td>
          <td>{{ mock.dateTime | date : "dd/MM/yyyy" }}</td>
          <td>{{ mock.dateTime | date : "HH:mm:ss" }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
