**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.user
**/*.suo
**/*.dll
**/*.pdb
**/bin
**/obj
**/node_modules
*.md
docker-compose*
Dockerfile*
.env
