<header class="header p-1 border-bottom">
  <!-- <div class="container d-flex justify-between"> -->
  <div class="p-3 d-flex flex-wrap align-items-center justify-content-between">
    <div>
      <a
        href="#"
        class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
      >
        <img
          src="/assets/img/LogoPontoCerto-preto.png"
          alt=""
          class="logo-navbar"
        />
        <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg> -->
      </a>
    </div>

    <div class="d-flex gap-3">
      <div class="dropdown text-end">
        <a
          href="#"
          class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            fill="currentColor"
            class="bi bi-bell-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"
            />
          </svg>
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>

      <div class="dropdown text-end">
        <a
          href="#"
          class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            fill="currentColor"
            class="bi bi-person-circle"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
            />
          </svg>
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- </div> -->
</header>

<div class="sidebar">
  <div class="sidebar-content">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a href="#" class="nav-link ativo" aria-current="page">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="me-2 bi bi-pencil"
            viewBox="0 0 16 16"
          >
            <path
              d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"
            />
          </svg>
          Registrar ponto
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="me-2 bi bi-person-circle"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
            />
          </svg>
          Meu perfil
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="me-2 bi bi-bell-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"
            />
          </svg>
          Meu ponto
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="me-2 bi bi-people-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"
            />
          </svg>
          Minha equipe
        </a>
      </li>
    </ul>
  </div>

  <div class="sidebar-bottom">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a href="#" class="nav-link">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="me-2 bi bi-gear-fill me-3"
            viewBox="0 0 16 16"
          >
            <path
              d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"
            />
          </svg>
          Configurações
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- 
<div class="sidebar d-flex flex-column flex-shrink-0 p-3 justify-content-between">
  <div style="flex: 1;">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a href="#" class="nav-link ativo" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#home" />
          </svg>
          Registrar ponto
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#speedometer2" />
          </svg>
          Meu perfil
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#table" />
          </svg>
          Meu ponto
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#grid" />
          </svg>
          Minha equipe
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#people-circle" />
          </svg>
          Configurações
        </a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a href="#" class="nav-link" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#home" />
          </svg>
          Registrar ponto
        </a>
      </li>
    </ul>
  </div>
</div> -->

<div class="main d-flex flex-row flex-nowrap gap-5 justify-content-center">
  <div class="card w-50">
    <h2 class="registro-titulo mb-4">Registro de Ponto</h2>
    <div class="relogio">
      <div class="hour">
        <p>{{ dateTime | date : "HH" }}</p>
      </div>
      <p class="separator">:</p>
      <div class="minute">
        <p>{{ dateTime | date : "mm" }}</p>
      </div>
      <p class="separator">:</p>
      <div class="second">
        <p>{{ dateTime | date : "ss" }}</p>
      </div>
    </div>
    <div class="calendario">
      <p>{{ dateTime | date : "dd/MM/yyyy" }}</p>
    </div>
    <div id="map"></div>
    <button (click)="registrarPonto()" class="registro-botao">Registrar Ponto</button>
  </div>

  <div class="historico-container w-25 p-4">
    <div class="d-flex flex-column align-items-center">
      <p class="texto-historico fs-3">Últimos registros</p>
      <div class="registros d-flex flex-column gap-1">
        <div class="registro d-flex flex-row gap-4">
          <p class="texto-hora fs-5 mb-1">18:01</p>
          <p class="texto-data fs-5 mb-1">23/07</p>
        </div>
        <div class="registro d-flex flex-row gap-4">
          <p class="texto-hora-entrada fs-5 mb-1">13:58</p>
          <p class="texto-data fs-5 mb-1">23/07</p>
        </div>
        <div class="registro d-flex flex-row gap-4">
          <p class="texto-hora fs-5 mb-1">12:03</p>
          <p class="texto-data fs-5 mb-1">23/07</p>
        </div>
        <div class="registro d-flex flex-row gap-4">
          <p class="texto-hora-entrada fs-5 mb-1">08:13</p>
          <p class="texto-data fs-5 mb-1">23/07</p>
        </div>
        <hr />
        <div class="registro d-flex flex-row gap-4">
          <p class="texto-hora fs-5 mb-1">18:10</p>
          <p class="texto-data fs-5 mb-1">20/07</p>
        </div>
        <div class="registro d-flex flex-row gap-4">
          <p class="texto-hora-entrada fs-5 mb-1">14:05</p>
          <p class="texto-data fs-5 mb-1">20/07</p>
        </div>
      </div>

      <a href="">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-three-dots text-light"
          viewBox="0 0 16 16"
        >
          <path
            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"
          />
        </svg>
      </a>
      <hr />
      <div class="d-flex flex-column align-items-center">
        <a href="">
          <p class="fs-4 text-light">Ver mais</p>
        </a>
        <a href="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            class="bi bi-plus text-light"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
