<app-header></app-header>
<app-sidebar></app-sidebar>

<!-- Registro card -->
<div class="main d-flex flex-row flex-nowrap gap-5 justify-content-center">
  <div class="card w-50">
    <h2 class="registro-titulo mb-4">Registro de Ponto</h2>
    <div class="relogio">
      <div class="hour">
        <p>{{ dateTime | date : "HH" }}</p>
      </div>
      <p class="separator">:</p>
      <div class="minute">
        <p>{{ dateTime | date : "mm" }}</p>
      </div>
      <p class="separator">:</p>
      <div class="second">
        <p>{{ dateTime | date : "ss" }}</p>
      </div>
    </div>
    <div class="calendario">
      <p>{{ dateTime | date : "dd/MM/yyyy" }}</p>
    </div>
    <div id="map"></div>
    <button (click)="registrarPonto()" class="registro-botao">
      Registrar Ponto
    </button>
  </div>

  <!-- Histórico -->
  <div class="historico-container w-25 p-4">
    <div class="d-flex flex-column align-items-center">
      <p class="texto-historico fs-3">Últimos registros</p>
      <div class="registros d-flex flex-column gap-1">
        <div class="registro d-flex flex-row gap-4">
          <p class="texto-hora fs-5 mb-1">18:01</p>
          <p class="texto-data fs-5 mb-1">23/07</p>
        </div>
        <div class="registro d-flex flex-row gap-4">
          <p class="texto-hora-entrada fs-5 mb-1">13:58</p>
          <p class="texto-data fs-5 mb-1">23/07</p>
        </div>
        <div class="registro d-flex flex-row gap-4">
          <p class="texto-hora fs-5 mb-1">12:03</p>
          <p class="texto-data fs-5 mb-1">23/07</p>
        </div>
        <div class="registro d-flex flex-row gap-4">
          <p class="texto-hora-entrada fs-5 mb-1">08:13</p>
          <p class="texto-data fs-5 mb-1">23/07</p>
        </div>
        <hr />
        <div class="registro d-flex flex-row gap-4">
          <p class="texto-hora fs-5 mb-1">18:10</p>
          <p class="texto-data fs-5 mb-1">20/07</p>
        </div>
        <div class="registro d-flex flex-row gap-4">
          <p class="texto-hora-entrada fs-5 mb-1">14:05</p>
          <p class="texto-data fs-5 mb-1">20/07</p>
        </div>
      </div>

      <a href="">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-three-dots text-light"
          viewBox="0 0 16 16"
        >
          <path
            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"
          />
        </svg>
      </a>
      <hr />
      <div class="d-flex flex-column align-items-center">
        <a href="">
          <p class="fs-4 text-light">Ver mais</p>
        </a>
        <a href="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            class="bi bi-plus text-light"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
