.logo-navbar {
  height: 40px;
}

header {
  background-color: var(--cor-destaque);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 1rem;
  width: 280px;
  background-color: var(--cor-terciaria);
  position: fixed;
  height: 100vh;
  overflow: hidden; /* ou auto, se quiser scroll interno */
}

.sidebar-content {
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;
}

.sidebar-bottom {
  margin-top: auto;
}

.nav-link {
  color: white;
  font-family: var(--fonte-principal);
  margin-bottom: 7px;
}

.nav-link.ativo {
  color: var(--cor-terciaria);
  background-color: var(--cor-destaque);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.main {
  margin-top: 50px;
  margin-left: 280px;
  width: 100vw-280px;
}

.card {
  background: white;
  width: 50vw;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 10px;
}

.registro-titulo {
  font-family: var(--fonte-principal);
}

.relogio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.relogio div {
  background-color: #dfdfdf;
  color: #333;
  width: 60px;
  height: 60px;
  font-size: 2.5em;
  border-radius: 10px;
  margin: 0 10px;
}
.separator {
  font-size: 2.5em;
  margin: 0 10px;
  color: #333;
}
.calendario {
  font-size: 1.5em;
  color: #333;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  background-color: var(--cor-destaque);
  color: black;
  border-radius: 20px;
  cursor: pointer;
  font-family: var(--fonte-principal);
  font-weight: 500;
}

button:hover {
  background-color: var(--cor-secundaria);
}

#map {
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
}

.historico-container {
  background-color: var(--cor-terciaria);
}

.texto-historico {
  font-family: var(--fonte-principal);
  color: var(--cor-branca);
}

.texto-hora {
  font-family: var(--fonte-principal);
  color: var(--cor-branca);
}

.texto-hora-entrada {
  font-family: var(--fonte-principal);
  color: var(--cor-destaque);
}

.texto-data {
  font-family: var(--fonte-principal);
  color: var(--cor-branca);
}
