<header class="header p-1 border-bottom">
  <!-- <div class="container d-flex justify-between"> -->
  <div class="p-3 d-flex flex-wrap align-items-center justify-content-between">
    <div>
      <a
        href="#"
        class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
      >
        <img
          src="/assets/img/LogoPontoCerto-preto.png"
          alt=""
          class="logo-navbar"
        />
        <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg> -->
      </a>
    </div>

    <div class="d-flex gap-3">
      <div class="dropdown text-end">
        <a
          href="#"
          class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://github.com/mdo.png"
            alt="mdo"
            width="32"
            height="32"
            class="rounded-circle"
          />
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>

      <div class="dropdown text-end">
        <a
          href="#"
          class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://github.com/mdo.png"
            alt="mdo"
            width="32"
            height="32"
            class="rounded-circle"
          />
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- </div> -->
</header>

<div class="sidebar d-flex flex-column flex-shrink-0 p-3" style="width: 280px">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link ativo" aria-current="page">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#home" />
        </svg>
        Registrar ponto
      </a>
    </li>
    <li>
      <a href="#" class="nav-link">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#speedometer2" />
        </svg>
        Meu perfil
      </a>
    </li>
    <li>
      <a href="#" class="nav-link">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#table" />
        </svg>
        Meu ponto
      </a>
    </li>
    <li>
      <a href="#" class="nav-link">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#grid" />
        </svg>
        Minha equipe
      </a>
    </li>
    <li>
      <a href="#" class="nav-link">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#people-circle" />
        </svg>
        Configurações
      </a>
    </li>
  </ul>
  <hr />
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://github.com/mdo.png"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong>mdo</strong>
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="card">
    <h2>Marcação de Ponto</h2>
    <div class="relogio">
      <div class="hour">
        <p>{{ dateTime | date : "HH" }}</p>
      </div>
      <p class="separator">:</p>
      <div class="minute">
        <p>{{ dateTime | date : "mm" }}</p>
      </div>
      <p class="separator">:</p>
      <div class="second">
        <p>{{ dateTime | date : "ss" }}</p>
      </div>
    </div>
    <div class="calendario">
      <p>{{ dateTime | date : "dd/MM/yyyy" }}</p>
    </div>
    <div id="map"></div>
    <button (click)="registrarPonto()">Registrar Ponto</button>
  </div>
</div>
